.board {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.board__inner {
		max-width: min(80vh, 100%);
		width: 100%;
		aspect-ratio: 1/1;
		position: relative;
	}

	.board__squares {
		width: 100%;
		aspect-ratio: 1/1;
		display: grid;
		grid-template-rows: repeat(8, 1fr);
		grid-template-columns: repeat(8, 1fr);

		.square {
			&.white {
				background-color: var(--color-secondary-100);
			}

			&.black {
				background-color: var(--color-secondary-900);
			}
		}
	}

	.board__figures {
		font-size: 0;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		max-width: 80vh;
		width: 100%;
		aspect-ratio: 1/1;
	}

	.board__figures .piece {
		cursor: grab;
		--row-num: 1;
		--col-num: 1;
		--square-width: calc(var(--inner-size) / 8);
		--translate-x: calc(var(--square-width) * (var(--col-num, 1) - 1));
		--translate-y: calc(var(--square-width) * (var(--row-num, 1) - 1));
		--translate-cursor-x: calc(
			(var(--mouse-x) - var(--inner-x)) - (var(--square-width) / 2)
		);
		--translate-cursor-y: calc(
			(var(--mouse-y) - var(--inner-y)) - (var(--square-width) / 2)
		);
		position: absolute;
		top: 0;
		left: 0;
		width: var(--square-width);
		aspect-ratio: 1/1;

		&.static {
			transform: translate(var(--translate-x), var(--translate-y));
		}

		&.dragged {
			transform: translate(
				var(--translate-cursor-x, var(--translate-x)),
				var(--translate-cursor-y, var(--translate-y))
			);
			z-index: 2;
		}

		svg {
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}
}
